.root { 
	position: relative;
	display: flex;
	flex-direction: column;
}
.label { 
	font-size: 28px;
	margin-bottom: 12px;
}
.input {
  width: 100%; 
  padding: 12px 36px 12px 12px;
  border: 1px solid #d0d5dd;
  border-radius: 12px;
  outline: none;
}
.input:focus { 
	border-color: #6600ff;
	box-shadow: 0 0 0 3px rgba(124,58,237,.15); 
}
.clear {
  position: absolute; 
  right: 15px;
  bottom: 0;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}

/* Chrome / Edge / Safari */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
